<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/assets/css/details.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><h2>MISHOMAGIC</h2></a>
            <form action="">
                <input type="text" name="" id="" placeholder="">
                <input type="submit" value="Search">
            </form>
        </nav>
        </header>
        <main>
            <figure>
                <img src=<%= `https://image.tmdb.org/t/p/w1280${details.backdrop_path}` %> alt="">
                <div class="rating">
                    <h2>&#11088;</h2>
                    <h3><%= `${details.vote_average}/10` %></h3>
                    <h4><%=details.popularity%></h4>
                </div>
            </figure>
            <article>
                <% if(result == null){ %>
                <form action="/addto" method="post">
                    <input type="hidden" name="_id" value=<%=details.id%>>
                    <input type="hidden" name="img_src" value=<%= `https://image.tmdb.org/t/p/w1280${details.backdrop_path}` %>>
                    <input type="hidden" name="title" value="<%=details.original_title%>">
                    <% details.genres.forEach(elt => {%>   
                    <input type="hidden" name="type" value=<%= elt.name %>>
                    <%})%>
                    <input type="hidden" name="relase_date" value=<%=details.release_date%>>
                    <input type="hidden" name="over_view" value="<%= details.overview%>">      
                    <input type="hidden" name="rating" value=<%= details.vote_average %>>
                    <input type="hidden" name="popularity" value=<%=details.popularity%>>
                <div id="addme">
                <input type="submit" value="&plus;">
                <h2> Add to Favorite</h2>
            </form>
            <%} else{ %>
               
                <form action=<%=`/remove/${result._id}`%> method="post">
                    <div id="addme">
                    <input type="submit" value="&#45;">
                    <h2>Remove from Favorite</h2>
                </div>
                </form>
            
             <%}%>   
            </div>
            <hr/>
                <h1><%=details.original_title%></h1>
                <h3><%=details.release_date%> Released</h3>
                <div class="type">
                    <% details.genres.forEach(elt=>{ %>
                        <span ><%=elt.name%>  </span>
                    <% }) %>
                </div>
                <div class="desc">
                    <h2>Plot Summary</h2>
                    <p><%= details.overview%></p>
                </div>
            </article>
        </main>
        <footer>
            <p class="copy">&#169; CopyRight 2021 Hisham Diab</p>
        </footer>
</body>
</html>