<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/Style.css">
</head>
<body>
   
    <header>
        <nav>
            <h2>MISHOMAGIC</h2>
            <form action="">
                <input type="text" name="" id="" placeholder="&#128269;">
                <input type="submit" value="Search">
            </form>
        </nav>
        <div class="cat">
            <ul>
                <li><a href="">Action</a></li>
                <li><a href="">Crime</a></li>
                <li><a href="">Comedy</a></li>
                <li><a href="">Drama</a></li>
                <li><a href="">Horror</a></li>
                <li><a href="">Music</a></li>
            </ul>
        </div>
    </header>
    <main>
        <% movies.forEach(elt => { %>

       <a href=<%= `/pages/${pages}/${elt.id}` %>>
        <figure>
        <img src=<%= `https://image.tmdb.org/t/p/w1280${elt.poster_path}` %> alt="">
        <figcaption><%= elt.original_title %></figcaption>
        <h5><%= elt.release_date%></h5>
        </figure>
    </a>
        <% }) %>
    </main>
    <footer>
    <div>
        <% if(Number(pages)>0 && Number(pages)<5){ %>
        <% for(let i = 1; i < 10 ; i++){ %>
                <button><a href=<%= `/pages/${i}` %>><%= i %></a></button>
        <% }} else if(Number(pages) <= 996 && Number(pages) >= 5){ %>
            <% for(let i = Number(pages)-4; i <= Number(pages)+4 ; i++){ %>
                <a href=<%= `/pages/${i}` %>><%= i%></a>
                <% }} %>       
    </div>
</footer>
</body>
</html>
