<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/Style.css">
</head>
<body>
   
    <header>
        <nav>
            <a href="/"><h2>MISHOMAGIC</h2></a>
            <form action="/search-for" method="GET">
                <input type="text" name="keyword" id="" placeholder="&#128269;">
                <input type="submit" value="Search">
            </form>
        </nav>
        <div class="cat">
            <ul>
                <li><a href="/category/action/28/1">Action</a></li>
                <li><a href="/category/crime/80/1">Crime</a></li>
                <li><a href="/category/comedy/35/1">Comedy</a></li>
                <li><a href="/category/drama/18/1">Drama</a></li>
                <li><a href="/category/horror/27/1">Horror</a></li>
                <li><a href="/category/music/10402/1">Music</a></li>
            </ul>
        </div>
    </header>
    <main>
        <% movies.forEach(elt => { %>

       <a href=<%= `/pages/${pages}/${elt.id}` %>>
        <figure>
        <img src=<%= `https://image.tmdb.org/t/p/w1280${elt.poster_path}` %> alt="">
        <figcaption><%= elt.original_title %></figcaption>
        <h5><%= elt.release_date%></h5>
        </figure>
    </a>
        <% }) %>
    </main>
    <footer>
    <div>
        <% if(Number(pages)>0 && Number(pages)<5){ %>
        <% for(let i = 1; i < 10 ; i++){ %>
                <button><a href=<%= `/pages/${i}` %>><%= i %></a></button>
        <% }} else if(Number(pages) <= 996 && Number(pages) >= 5){ %>
            <% for(let i = Number(pages)-4; i <= Number(pages)+4 ; i++){ %>
                <a href=<%= `/pages/${i}` %>><%= i%></a>
                <% }} %>       
    </div>
    <p class="copy">&#169; CopyRight 2021 Hisham Diab</p>
</footer>
</body>
</html>
